<div id="signup-container">
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <div>
        <label>Name</label>
        <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && nameField.errors">
          <p *ngIf="nameField.errors.required" class="validation">Name required</p>
        </div>
      </div>
      <div>
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">Username required</p>
          <p *ngIf="usernameField.errors.minlength" class="validation">Username is too short</p>
        </div>
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="4" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && passwordField.errors">
          <p *ngIf="passwordField.errors.required" class="validation">Password required</p>
          <p *ngIf="passwordField.errors.minlength" class="validation">Password is too short</p>
        </div>
      </div>
      <div class="field submit">
        <button type="submit" [disabled]="processing">SignUp</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">The username and password are mandatory</p>
        </div>
        <div *ngIf="error">
            <p class="validation">Username taken</p>
        </div>
      </div>
    </div>
  </form>
</div>