<div id="home-container">
    <div class="news-wrapper">
      <ul *ngIf="news">
        <li *ngFor="let new of news">
          <app-news [new]="new"></app-news>
        </li>
      </ul>
    </div>
  </div>