#news a {
  text-decoration: none;
  color: white;
}
.listednews-container{
  display: flex;
  max-width: 100%;
  border: 1px solid rgb(115,123,145);
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(0,0,0, 0.3);
  margin-right: 20px;
}
.news {
  display: flex;
  justify-content: center;
}

.listednews-image img{
  width: 90px;
}

.listednews-info{
  padding-left: 20px;
}

.listednews-container:hover{
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}