<div id="news">
  <a [href]="new.url" target="_blank">
    <div class='listednews-container'>
      <div class='listednews-image'>
        <div class='thumbnail-container' *ngIf="new.pulse_image">
            <img [src]="new.pulse_image.url" onerror ="this.src='/assets/images/controller2.png'">
        </div>
        <div class='thumbnail-container' *ngIf="!new.pulse_image">
            <img src="/assets/images/controller2.png">
        </div>
      </div>
      <div class="listednews-info">
        <p>{{new.title}}</p>
      </div>
    </div>
  </a>
</div>


