<div id="game" *ngIf="game">
  <div class='listedgames-container'>
    <div class="photo-details-container">
      <div class="name-container">
          <p>{{game.name}}</p>
      </div>
      <div class='listedgame-image'>
        <div class='thumbnail-container' *ngIf="game.cover">
            <img [src]="game.cover.url">
        </div>
        <div class='thumbnail-container' *ngIf="!game.cover">
            <img src="/assets/images/nogame.jpg">
        </div>
      </div>
      <div class="rate">
        <p>Rating: {{game.rating.toFixed(2)}}</p>
      </div>
      <div *ngIf="loggedInUser">
        <div class="add-game" *ngIf="!addedGame">
          <button type="button" name="addGame" (click)="handleAddClick()">Add to favorites</button>
        </div>
      </div>
    </div>
    <div class="features-container">
      <div class="tab">
        <button class="tablinks" (click)="handleOpenTab(event, 'description')">Description</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'players')">Players</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'reviews')">Reviews</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'similarGames')">Similar Games</button>
      </div>
      <div id="description" class="tabcontent">
        <p>{{game.summary}}</p>
      </div>
      <div id="players" class="initial">
        <div class="game-users">
          <div *ngFor="let user of users">
            <app-users-of-game [user]= "user" [gameId]= "gameId"></app-users-of-game>
          </div>
        </div>
      </div>
      <div id="reviews" class="tabcontent">

      </div>
      <div id="similarGames" class="tabcontent">

      </div>
    </div>
  </div>
  <div class="back-button">
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
</div>
  
  
  