<div>
  <div class="list-all-games">
    <ul *ngIf="games"> 
      <li *ngFor="let game of games">
        <div id="game">
          <div class="list-games-container">
            <a [routerLink]= "['/games', game.id]">
              <div class='listedgames-container'>
                <div class='listedgame-image'>
                  <div class='thumbnail-container' *ngIf="game.cover">
                      <img [src]="game.cover.url">
                  </div>
                  <div class='thumbnail-container' *ngIf="!game.cover">
                      <img src="/assets/images/logo.png">
                  </div>
                </div>
                <div class="listedgame-info">
                  <p>{{game.name}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>