

<div class='messages-container' *ngIf="user.receivedMessage">
  <div *ngFor = "let message of user.receivedMessage">
    <div class="list-messages" *ngIf="user._id === loggedInUser._id || loggedInUser._id === message.owner._id">
      <div class='listeduser-image'>
        <ul >
          <li>
            <h4 class='sender'>{{message.owner.name}}</h4>
          </li>
          <li>
            <div class='thumbnail-container' *ngIf="!message.owner.picPath && message.owner.smPicPath">
              <img [src]="message.owner.smPicPath" onerror ="this.src='/assets/images/user.png'"/>
            </div>  
            <div class='thumbnail-container' *ngIf="message.owner.picPath">
              <img [src]="link" onerror ="this.src='/assets/images/user.png'"/>
            </div>  
            <div class='thumbnail-container' *ngIf="!message.owner.picPath && !message.owner.smPicPath">
              <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
            </div>
          </li>
        </ul>
      </div>
      <div class="list-reply-container">
        <div class="initial-message">
          <ul>
            <li>
              <p class='content'>{{message.content}}</p>
            </li>
            <li>
              <p class='created-date'>{{message.createdAt}}</p>
            </li>
          </ul>
        </div> 
        <div *ngIf=user.reply>
          <div class="reply" *ngFor = "let reply of user.reply">
            <div class="list-reply" *ngIf="reply && reply.messageId === message._id ">
              <ul >
                <li *ngIf="reply.owner._id === loggedInUser._id">
                  <h4 class='sender'>{{reply.owner.name}} : </h4>
                </li>
                <li class="loggedin-user-message" *ngIf="reply.owner._id !== loggedInUser._id">
                  <h4 class='sender'>{{reply.owner.name}} : </h4>
                </li>
                <li>
                  <p class='content'>{{reply.content}}</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reply-message" *ngIf="message">
      <form *ngIf="user._id === loggedInUser._id || loggedInUser._id === message.owner._id">
        <ul>
          <li>
            <div class='write-container'>
              <p id='send-message'>Send reply:</p>
            </div>
          </li>
          <li>
            <div class='container'>
              <textarea name='reply' id='message-area' [(ngModel)]="content" placeholder='Write your message for {{user.name}} ...'></textarea>
            </div>
          </li>
          <li>
            <button type="button" name="addReview" (click)="handleReplyClick(message._id)">Reply</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>


<div *ngIf="loggedInUser && user._id !== loggedInUser._id">
  <div class="send-message" >
    <form >
      <div class='write-container'>
        <p id='send-message'>Send Message:</p>
      </div>
      <div class='container'>
        <textarea name='message' id='message-area' [(ngModel)]="messageContent" placeholder='Write your message for {{user.name}} ...'></textarea>
      </div>
      <button type="button" name="addReview" (click)="handleMessageClick()">Send</button>
    </form>
  </div>
</div>