
#game {
  text-decoration: none;
  color: white;
}

@media(max-width: 768px){

  .list-messages{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 }


.list-messages {
  border: 1px solid rgb(115,123,145);
  border-radius: 10px;
  min-height: 80px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  flex-basis: 100%;
  display: flex;
}

li a {
  display: flex;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.messages-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

.listeduser-image img{
  max-width: 90px;
}

.listeduser-image{
  margin-top: auto;
  margin-bottom: auto; 
  display: flex;
  justify-content: center;
}

.listeduser-image ul{
  padding: 10px;

}



.ul-message{
  text-align: left;
  padding-left: 10px;
  justify-content: center;
}

.reply-message ul{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between
}

.reply-message button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
}

.reply-message button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

#message-area{
  width: 300px;
}

.reply-message ul li:last-child{
  padding-right: 10px;
}

.content {
  border: 1px solid rgb(115,123,145);
  background-color: white;
  color: black;
}


.list-games-container{
  width: 100%;
  border-radius: 10px;
}

.initial-message {
  border: 1px solid rgb(115,123,145);
  border-radius: 10px;
  min-height: 80px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  flex-basis: 100%;
  display: flex;
  font-size: 110%
}

.loggedin-user-message {
  color: red
}

.list-reply-container{
  width: 100%;
  border-radius: 10px;
}

.list-reply {
  border: 1px solid rgb(115,123,145);
  border-radius: 10px;
  min-height: 80px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  flex-basis: 100%;
  display: flex;
  margin-left: 50px;
  font-size: 80%;
}
