

#home p {
  color: white;
}

#home a {
  text-decoration: none;
}

#home-container ul{
  list-style: none;
}
.news-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}
