<div id="login-container">
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <div>
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && usernameField.errors">
          <p *ngIf="usernameField.errors.required" class="validation">username required</p>
          <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
        </div>
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required minlength="4" [disabled]="processing"/>
        <div *ngIf="feedbackEnabled && passwordField.errors">
          <p *ngIf="passwordField.errors.required" class="validation">password required</p>
          <p *ngIf="passwordField.errors.minlength" class="validation">password is too short</p>
        </div>
      </div>
      <div class="field submit">
        <button type="submit" [disabled]="processing">Login</button>
        <div *ngIf="feedbackEnabled && form.invalid">
          <p class="validation">there are errors in the form, please review the fields</p>
        </div>
      </div>
    </div>
  </form>
  <div>
    <form (ngSubmit)="submitFacebook(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
      <div id='Facebook'>
        <button class="loginBtn loginBtn--facebook" type='submit'>Login Facebook</button>
      </div>
    </form>
  </div>
</div>