
.login-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 30%;
}

.field{
	margin: 20px
}

.field div {
	margin-bottom: 20px;
}

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

.submit {
	margin: 0;
	display: block;
	padding-top: 20px;
}

.submit button {
	background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
	height: 32px;
	width: 194px;
}

.submit button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}

.field label{
	color: white;
}


.loginBtn--facebook {
	margin-left: 20px; 
	background-color: #4C69BA;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
	height: 32px;
	width: 194px;
}

.loginBtn--facebook:hover {
	box-shadow: 0 0 6px 3px grey; 
}