.router-outlet{
  background-image: url('/assets/images/background3.jpg');
  background-position: center;
  background-repeat: repeat-y; 
  height: auto;
  min-height: 800px;
  padding-top: 140px;
  padding-bottom: 30px;
  background-size: 100%;
}


#logo {
  background-image: url('../assets/images/logoName.png');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 200px;
}

.container {
  text-align: center;
}

#logo a {
  text-decoration: none;
}

h1{
  color: rgba(0, 0, 0, 0);
}

#logs-container .button {
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  height: 21px;
  width: 58px;
}
#logs-container .button:hover{
  box-shadow: 0 0 6px 2px white; 
}

#logs-container {
  display: flex;
}

#logs-container div {
  padding-left: 10px;
  padding-right: 10px;
}
.is-user {
  display: flex;
}

ul {
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0
}
.menu {
  background: black;
  overflow: hidden;
}

.logo-buttons-container {
  display: flex;
  justify-content: space-between;
}

.lia {
  border-right: none;
}


.ul {
  color: white;
  justify-content: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #555;
  overflow: hidden;
  border-left: none;
}

.ul li {
  overflow: hidden;
  text-align: center;
  border-right: 1px solid #555;
}

.header-name-pic {
  display: flex;
}

.ul li:last-child{
  border-right: none;
}

.listeduser-image {
  margin-top: 5px;
}

.listeduser-image img{
  width: 40px;
  height: 40px;
  padding: 0;
}

.logout-item{
  margin-left: 16px;
  align-content: center;
}

#logout {
  width: 25px;
  align-content: center;
  margin: auto;
  padding-right: 30px; 
}

li a {
  display: flex;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.ul li a:hover {
  background-color: #555;
  color: white;
}
