<header id="site-header">
  <ul>
    <li>
      <div class="menu">
        <ul class="ul">
          <li class=".li"><a [routerLink]="['/']">Home</a></li>
          <li class=".li"><a [routerLink]="['games']">Games</a></li>
          <li class=".li"><a [routerLink]="['users']">Users</a></li>
          <li class=".lia"><a [routerLink]="['news']">News</a></li>
        </ul>
      </div>  
    </li>
    <div class="logo-buttons-container">
      <li>
        <div id='logo'>
          <a [routerLink]="['/']">
            <h1>GB</h1>
          </a>
        </div>  
      </li>
      <li>
        <div [ngClass]="{'is-user': user, 'is-anon': anon}">
          <div *ngIf="loading">
            <span class="username text">loading...</span>
          </div>
          <div id='logs-container'>
            <div *ngIf="!loading && anon">
              <div id='login'>
                <a [routerLink]="['/login']">
                  <button class="button" type='submit' id='button-login'>Log in</button>
                </a>
              </div>
              <div id='signup'>
                <a [routerLink]="['/signup']">
                  <button class="button" type='submit' id='button-signup'>Sign up</button>
                </a>
              </div>
            </div>
            <div *ngIf="user">
              <ul class="if-user">
                <div class="header-name-pic">
                  <a [routerLink]="['/users', user._id]">
                    <li>
                      <div class='listeduser-image'>
                        <div class='thumbnail-container' *ngIf="!user.picPath && user.smPicPath">
                          <img [src]="user.smPicPath" onerror ="this.src='/assets/images/user.png'"/>
                        </div>  
                        <div class='thumbnail-container' *ngIf="user.picPath">
                          <img [src]="link" onerror ="this.src='/assets/images/user.png'"/>
                        </div>  
                        <div class='thumbnail-container' *ngIf="!user.picPath && !user.smPicPath">
                          <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
                        </div>
                      </div>
                    </li>
                    <li>
                      <p>{{user.name}}</p> 
                    </li>
                  </a>
              </div>
                <li class="logout-item">
                  <div id='logout'>
                    <form (ngSubmit)="submitLogout(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">
                      <button class="button" type='submit'>Log out</button>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>  
    </div>  
  </ul>
</header>
<div class="router-outlet">
<router-outlet></router-outlet>
</div>
<footer id="site-footer">
  <div class="container">
    <div id='copyright'>
      <p>© Vlad Ciobanu - Ironhack 2018</p>      
    </div>
  </div>
</footer>
