<div id="news">
  <div class='listednews-container'>
    <div class='listednews-image'>
      <div class='thumbnail-container' *ngIf="new.cover">
          <img [src]="new.cover.url">
      </div>
      <div class='thumbnail-container' *ngIf="!new.cover">
          <img src="/assets/images/nogame.jpg">
      </div>
    </div>
    <div class="listednews-info">
      <p>{{new.name}}</p>
      <p>Description:
        {{new.summary}}</p>
      <p>Rating: {{new.rating}}</p>
    </div>
  </div>
</div>
