<div class='review'>
  <div class='review-container'>
    <ul *ngIf="user.reviews">
      <li class="list-reviews" *ngFor = "let review of user.reviews">
        <ul class="ul-reviews">
          <li>
            <h4 class='reviewers'>Name: {{review.owner.name}} : </h4>
          </li>
          <li>
            <p class='content'>{{review.content}}</p>
          </li>
          <li>
            <p class='created-date'>On: {{review.createdAt}}</p>
          </li>
        </ul>
      </li>
    </ul> 
  </div>
</div>

<div *ngIf="loggedInUser">
  <div class="add-review" >
    <form action='/user/review/<%= id %>/' method="POST">
      <div class='write-container'>
        <p id='add-review'>Add a review:</p>
      </div>
      <div class='container'>
        <textarea name='review' id='review-area' [(ngModel)]="content" placeholder='Write your review for {{user.name}} ...'></textarea>
      </div>
      <button type="button" name="addReview" (click)="handleReviewClick()">Review</button>
    </form>
  </div>
</div>