
#game {
  text-decoration: none;
  color: white;
}

@media(max-width: 768px){

  .list-reviews {
    background-image: url('/assets/images/quotation-marks.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50px;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    min-height: 80px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0, 0.7);
    color: white;
    flex-basis: 100%;
  }

  .content {
    margin-left: 20px;
    border: 1px solid rgb(115,123,145);
    background-color: white;
    color: black;
  }

  .reviewers {
    margin-left: 20px;
  }

  .created-date{
    margin-left: 20px;
  }
 }

li a {
  display: flex;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}



.review-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;

}

@media(min-width: 768px){
  .content {
    margin-left: 100px;
    border: 1px solid rgb(115,123,145);
    background-color: white;
    color: black;
  }

  .reviewers {
    margin-left: 100px;
  }

  .created-date{
    margin-left: 100px;
  }

  .list-reviews {
    background-image: url('/assets/images/quotation-marks.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100px;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    min-height: 80px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0, 0.7);
    color: white;
    flex-basis: 100%;
  }
}

.list-games-container{
  width: 100%;
  border-radius: 10px;
}

.list-reviews:hover{
  background-color: rgba(0, 0, 0, 0.6);
}