


@media(max-width: 768px){

  .listedusers-container{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .photo-details-container{
    border: 1px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow:9999;
  }
  .thumbnail-container img {
    margin-left: 38%
  }
}


.checked {
  color: orange;
}

.thumbnail-container img {
  width: 90px;
}

.listeduser-image{
  border-bottom: 1px solid #555;
}
.thumbnail-container{
  padding: 10px;
  margin: auto;
  width: 70%;
}

.star-rate{
  text-align: center;
  border-bottom: 1px solid #555;
}

.addfriend-container{
  border-bottom: 1px solid #555;
}

.rateuser-container{
  text-align: center;
}

.rateuser-container button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
  width: 100%;
}

.rateuser-container button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

.container-radio input:hover{
  box-shadow: 0 0 6px 3px grey;
}

.accept button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
  width: 100%;
}

.accept button:hover{
    box-shadow: 0 0 6px 3px grey; 
}

.reject button{
  background-color: rgba(255, 0, 0, 0.288); 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
  width: 100%;
}

.reject button:hover{
    box-shadow: 0 0 6px 3px grey; 
}

.addfriend-button button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
  width: 100%;
}

.addfriend-button button:hover{
    box-shadow: 0 0 6px 3px grey; 
}

#user {
  text-decoration: none;
  color: white;
}

.listedusers-container{
  display: flex;
  width: 100%;
  border: 1px solid #555;
}
.photo-details-container{
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border-right: 1px solid #555;
}

.name-container{
  border-bottom: 1px solid #555;
  text-align: center;
  padding: 14px 16px;
  max-height: 49.5px;
}


.name-container p{
  margin: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #555;
  background-color: black;
  flex-basis: 73%;
  border-left: none;
  display: flex;
}

.tab button{
  width: 100%;
}

.tab button:first-child{
  border-right: 1px solid #555;
}

.tab button:last-child{
  border-left: 1px solid #555;
}

.features-container{
  width: 100%;
  height: 100%;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #555;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #555;
  border-top: none;
  height: 100%;
  min-height: 270px;
}

.back-button button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
}

.back-button button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

.back-button{
  padding: 20px;
}