<div id="user" *ngIf="user">
  <div class='listedusers-container'>
    <div class="photo-details-container">
      <div class="name-container">
        <p>{{user.name}}</p>
      </div>
      <div class="photo-stars-container">
        <div class='listeduser-image'>
          <div class='thumbnail-container' *ngIf="!user.picPath && user.smPicPath">
            <img [src]="user.smPicPath" onerror ="this.src='/assets/images/user.png'"/>
          </div>  
          <div class='thumbnail-container' *ngIf="user.picPath">
            <img [src]="link" onerror ="this.src='/assets/images/user.png'"/>
          </div>  
          <div class='thumbnail-container' *ngIf="!user.picPath && !user.smPicPath">
            <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
          </div>
          <div *ngIf= "loggedInUser">
            <div class="file" *ngIf= "user._id === loggedInUser._id">
              <label class="file-label">
                <input class="file-input" type="file" id="file-input" name= "file-input" #fileInput (change)="handleAddPhotoClick()">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="details-container">
        <div class="addfriend-container">
          <div class="accept-ignore-container">
            <div *ngIf="loggedInUser">
              <div class="add-friends" *ngIf="isFriendNotificated && user._id === loggedInUser._id">
                  <div *ngFor = "let notification of user.friendNotification">
                    <p> Do you accept {{notification.name}} as friend?</p>
                    <div class="accept">
                      <button type="button" name="addFriend" (click)="handleAcceptClick(notification._id)">Accept </button>
                    </div>
                    <div class="reject">
                      <button type="button" name="addFriend" (click)="handleIgnoreClick(notification._id)">Ignore </button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="addfriend-button">
            <div *ngIf="loggedInUser">
              <div class="add-friends" *ngIf="!isAlreadyRequest && !isFriend && !isSendFriendNotificated && user._id !== loggedInUser._id">
                <button type="button" name="addFriend" (click)="handleAddClick()">Send friend request</button>
              </div>
            </div>
          </div>
        </div>
        <div class='rate'>
          <div class='stars-rate-container'>
            <div *ngIf="rateAvg == undefined || rateAvg < 0.5 ">
                <div class="star-rate">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
            </div>
            <div *ngIf="rateAvg >= 0.5 && rateAvg < 1.5">
              <div class="star-rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div *ngIf="rateAvg >= 1.5 && rateAvg < 2.5 ">
              <div class="star-rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div *ngIf="rateAvg >= 2.5 && rateAvg < 3.5">
              <div class="star-rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div *ngIf="rateAvg >= 3.5 && rateAvg < 4.5">
              <div class="star-rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div *ngIf="rateAvg >= 4.5">
              <div class="star-rate">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="rateuser-container">
          <div *ngIf="loggedInUser">
            <div class="add-rate" *ngIf="user._id !== loggedInUser._id && !isRated">
              <form action='/user/rate/<%= id %>/' method="POST">
                <div class='write-container'>
                  <p id='add-rate'>Rate {{user.name}}</p>
                </div>
                  <div class='container-radio'>
                    <input id='type-1' [(ngModel)]="rate" type='radio' name='type' value='1'/>1
                    <input id='type-2' [(ngModel)]="rate" type='radio' name='type' value='2'/>2
                    <input id='type-3' [(ngModel)]="rate" type='radio' name='type' value='3'/>3
                    <input id='type-4' [(ngModel)]="rate" type='radio' name='type' value='4'/>4
                    <input id='type-5' [(ngModel)]="rate" type='radio' name='type' value='5'/>5
                  </div>
                <button type="button" name="addrate" (click)="handleRateClick()">Rate</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features-container">
      <div class="tab">
        <button class="tablinks" (click)="handleOpenTab(event, 'games')">Games</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'reviews')">Reviews</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'messages')">Messages</button>
        <button class="tablinks" (click)="handleOpenTab(event, 'friends')">Friends</button>
      </div>
      <div id="games" class="initial">
          <app-favorite-games [user]="user"></app-favorite-games>
      </div>
      <div id="reviews" class="tabcontent">
        <app-reviews [loggedInUser] = "loggedInUser" [user] = "user"></app-reviews>
      </div>
      <div id="messages" class="tabcontent">
        <app-messages [loggedInUser] = "loggedInUser" [user] = "user"></app-messages>
      </div>
      <div id="friends" class="tabcontent">
        <app-friends [user] = "user" ></app-friends>
      </div>
    </div>
  </div>
  <div class="back-button">
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
</div>