
#friend {
  text-decoration: none;
  color: white;
}

li a {
  display: flex;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

@media(min-width: 768px){

  .list-all-friends ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
  }

  .listeduser-image img {
    max-width: 90px;
  }
  
  .list-all-friends ul li{
    display: flex;
    flex-basis: 45%;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0, 0.3);
    margin-right: 20px;
    flex-direction: row;
  }

}

@media(max-width: 768px){
  .list-all-friends ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 20px;
  }

  .listeduser-image img {
    max-width: 90px;
  }

  .list-all-friends ul li{
    display: flex;
    flex-basis: 100%;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0, 0.7);
    opacity: 70%;
    margin-right: 20px;
  }
}

.list-friends-container{
  width: 100%;
  border-radius: 10px;
}

.list-all-friends ul li:hover{
  background-color: rgba(0, 0, 0, 0.6);
}