<div>
  <div class="list-all-friends">
    <ul *ngIf="user.myFriends"> 
      <li *ngFor="let friend of user.myFriends">
        <div id="friend">
          <div class="list-friends-container">
            <a [routerLink]= "['/users', friend._id]">
              <div class='listedfriends-container'>
                <div class='listedfriend-image'>
                  <div class="photo-stars-container">
                    <div class='listeduser-image'>
                      <div class='thumbnail-container' *ngIf="!friend.picPath && friend.smPicPath">
                        <img [src]="friend.smPicPath" onerror ="this.src='/assets/images/user.png'"/>
                      </div>  
                      <div class='thumbnail-container' *ngIf="friend.picPath">
                        <img [src]="link" onerror ="this.src='/assets/images/user.png'"/>
                      </div>  
                      <div class='thumbnail-container' *ngIf="!friend.picPath && !friend.smPicPath">
                        <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="listedfriend-info">
                  <p>{{friend.name}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>