<div id="users" ng-if="user">
  <h1>Users: </h1>
  <div class="loading" *ngIf="!users">
    <p>loading</p> 
  </div>
  <div class="filter-container">
    <div class='field'>
      <input class= 'filter-users' [(ngModel)]="search" type="text" name = 'search' placeholder="Your search...">
    </div>
    <button type="button" name="search" (click)="handleSearchClick()">Search</button>
  </div>
  <div class="list-all-users">
    <ul *ngIf="users">
      <li *ngFor="let user of users">
        <div class="list-users-container">
          <a [routerLink]= "['/users', user._id]">
            <div class='listedusers-container'>
              <div class='listeduser-image'>
                <div class='thumbnail-container' *ngIf="!user.picPath && user.smPicPath">
                  <img [src]="user.smPicPath" onerror ="this.src='/assets/images/user.png'"/>
                </div>  
                <div class='thumbnail-container' *ngIf="user.picPath">
                  <img [src]="link" onerror ="this.src='/assets/images/user.png'"/>
                </div>  
                <div class='thumbnail-container' *ngIf="!user.picPath && !user.smPicPath">
                  <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
                </div>
              </div>
              <div class="listeduser-info">
                <p>{{user.name}}</p>
                <div class='rate'>
                  <div class='stars-rate-container'>
                    <div *ngIf="user.rateAvg == undefined || user.rateAvg < 0.5 ">
                        <div class="star-rate">
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                    </div>
                    <div *ngIf="user.rateAvg >= 0.5 && user.rateAvg < 1.5">
                      <div class="star-rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div *ngIf="user.rateAvg >= 1.5 && user.rateAvg < 2.5 ">
                      <div class="star-rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div *ngIf="user.rateAvg >= 2.5 && user.rateAvg < 3.5">
                      <div class="star-rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div *ngIf="user.rateAvg >= 3.5 && user.rateAvg < 4.5">
                      <div class="star-rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                      </div>
                    </div>
                    <div *ngIf="user.rateAvg >= 4.5">
                      <div class="star-rate">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="back-button">
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
</div>
 