/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
}




/* ---- typography ---- */

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.37;
}

/* ---- layout ---- */

#site-header {
  padding: 0;
  margin-top: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #555;

}

html {
  height: 100%;
}


#site-footer {
  padding: 0px;
  background: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
}

#site-main {
  padding-top: 60px;
  padding-bottom: 60px;
}

#copyright {
  color: white;
  font-size: 10px;
}
 
