<div>
  <div class="list-all-users">
    <div *ngIf="games">
      <div *ngFor= "let play of games">
        <div *ngIf="play.id == gameId">
          <div class="ul"> 
            <div class="li" >
              <div id="user">
                <div class="list-users-container">
                  <a [routerLink]= "['/users', user._id]">
                    <div class='listedusers-container'>
                      <div class='listeduser-image'>
                        <div class="photo-stars-container">
                          <div class='thumbnail-container' *ngIf="!user.picPath && user.smPicPath">
                            <img [src]="user.smPicPath" onerror ="this.src='/assets/images/user.png'">
                          </div>  
                          <div class='thumbnail-container' *ngIf="!user.smPicPath && user.picPath">
                            <img [src]="link" onerror ="this.src='/assets/images/user.png'">
                          </div>  
                          <div class='thumbnail-container' *ngIf="!user.picPath && !user.smPicPath">
                            <img src="/assets/images/user.png" onerror ="this.src='/assets/images/nogame.jpg'"/>
                          </div>
                        </div>
                        <div class="name">
                          <p>{{user.name}}</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
   

