<div id="games">
  <h1>Games: </h1>
  <div class="search-container">
    <div class='field'>
      <input class= 'filter-games' [(ngModel)]="search" type="text" name = 'search' placeholder="Your search...">
    </div>
    <button  class='button' type="button" name="search" (click)="handleSearchClick()">Search</button>
  </div>
  <div class="loading" *ngIf="!games">
    <p>loading</p> 
  </div>
  <div class="list-all-games">
    <ul *ngIf="games">  
      <li *ngFor="let game of games">
        <div class="list-games-container">
          <a [routerLink]= "['/games', game.id]">
            <div class='listedgames-container'>
              <div class='listedgame-image'>
                <div class='thumbnail-container' *ngIf="game.cover">
                    <img [src]="game.cover.url">
                </div>
                <div class='thumbnail-container' *ngIf="!game.cover">
                    <img src="/assets/images/controller2.png">
                </div>
              </div>
              <div class="listedgame-info">
                <p>{{game.name}}</p>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div> 
  <div class="back-button">
    <button type="button" name="Back" (click)="goBack()">Back</button>
  </div>
 </div>
 