
.listedgames-container{
  width: 100%;
  display: flex;
}
.list-games-container{
  width: 100%;
  border-radius: 10px;
}

.list-games-container:hover{
  background-color: rgba(0, 0, 0, 0.6);
}

.listedgame-image img{
  max-width: 90px;
}

#games h1{
  color: white;
  text-align: center;
}

#games a {
  text-decoration: none;
  color: white;
}

.search-container {
  display: flex;
  justify-content: center
}

.filter-games{
  width: 300px;
  font-size: 20px;
}

.button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;

}

.button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

@media(min-width: 768px){

  .list-all-games ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
  }
  
  .list-all-games ul li{
    display: flex;
    flex-basis: 45%;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgba(0,0,0, 0.3);
    margin-right: 20px;
    flex-direction: row;
  }

}

@media(max-width: 768px){
  .list-all-games ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 20px;
  }

  .list-all-games ul li{
    display: flex;
    flex-basis: 100%;
    border: 1px solid rgb(115,123,145);
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: rgb(0,0,0, 0.7);
    opacity: 70%;
    margin-right: 20px;
  }
}

.back-button button{
  background-color: #4CAF50; 
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  height: 29px;
}

.back-button button:hover{
  box-shadow: 0 0 6px 3px grey; 
}

.back-button{
  padding: 20px;
}

.listedgame-info{
  padding-left: 20px;
}